body {
margin-top: 7%;
margin-left: 25%;
margin-right: 25%;
padding: 2%;
border: 3px solid pink;
border-radius: 3%;
background-color: red;
}
.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

input[type="number"], select {
    padding: 8px 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    color: white;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}
a {
text-decoration: none;
}